html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 5px; 

    /* Existem 6 propriedades para alinhamento */
    justify-content: center;
    align-content: center;
    /* justify-items: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    align-self: center; */

    /* Vamos separar em dois grupos */
    /* 1. justify e align * (Eixo X)/
    /* 2. content, items, self (Eixo Y) */
}

.container > div {
    background: blueviolet;
}